#Ignore files in project


#ignore everything in bin directory
bin/

#ignore hidden .vs folder
.vs/

#ignore build directory folder except solution file and filter file
build/*
!system-analyzer-project.sln
!system-analyzer-project.vcxproj