#Ignore files in project


#ignore everything in bin directory
bin/

#ignore hidden .vs folder
.vs/

#ignore build directory folder except solution file, project file and filter file
build/*
!build/json_parser.props
!build/system-analyzer-project.sln
!build/system-analyzer-project.vcxproj
!build/system-analyzer-project.vcxproj.filters